<h1>Showing All Users</h1>

<div class="row">
<% @users.each do |user| %>
	<div class= "col-md-3">
		<div class="well">
			<h4><%= user.username %></h4>
			<%= image_tag user.profile.avatar.url, class: "thumb" %>
		</div>
	</div>
<% end %>